<footer th:fragment="footer">

    <div class="container">

        <div class="row g-4">

            <div class="col-md-5">

                <a class="footer-brand" th:href="@{/viewHomeJob}">
                    <i class="fa-solid fa-briefcase"></i>
                    JobHunter
                </a>

                <p class="footer-description">

                    Connecting talented people with great companies.
                    Find opportunities, build your career and
                    discover your next professional adventure.

                </p>

            </div>


            <div class="col-6 col-md-2">

                <h5 class="footer-title">
                    Job Seekers
                </h5>

                <ul class="footer-links">

                    <li>
                        <a href="}">
                            Browse Jobs
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/companies}">
                            Companies
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/register}">
                            Create Profile
                        </a>
                    </li>

                </ul>

            </div>


            <div class="col-6 col-md-2">

                <h5 class="footer-title">
                    Employers
                </h5>

                <ul class="footer-links">

                    <li>
                        <a href="#">
                            Post a Job
                        </a>
                    </li>

                    <li>
                        <a href="">
                            Find Talent
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Employer Dashboard
                        </a>
                    </li>

                </ul>

            </div>


            <div class="col-6 col-md-3">

                <h5 class="footer-title">
                    Follow Us
                </h5>

                <div class="d-flex gap-3">

                    <a href="#" class="text-secondary">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="#" class="text-secondary">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>

                    <a href="#" class="text-secondary">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="text-secondary">
                        <i class="fa-brands fa-github"></i>
                    </a>

                </div>

            </div>

        </div>


        <div class="footer-bottom">

            <span>
                © 2026 JobHunter. All rights reserved.
            </span>

            <span>
                Built for better careers.
            </span>

        </div>

    </div>

</footer>