<nav class="navbar navbar-expand-lg navbar-custom sticky-top" th:fragment="navbar">

    <div class="container">

        <a class="navbar-brand" th:href="@{/viewHomeJob}">
            <i class="fa-solid fa-briefcase"></i>
            JobHunter
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarMenu">

            <i class="fa-solid fa-bars"></i>

        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">

            <ul class="navbar-nav mx-auto">
                
                <li class="nav-item">
                    <a th:href="@{/viewHomeJob}"
                       class="nav-link"
                       th:classappend="${currentPage == 'home'} ? ' active' : ''">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/all-jobs}"
                    class="nav-link"
                    th:classappend="${currentPage != null and currentPage == 'jobs'} ? ' active' : ''">
                        Jobs
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/categories}"
                       class="nav-link"
                       th:classappend="${currentPage == 'categories'} ? ' active' : ''">
                        Categories
                    </a>
                </li>                
                <li class="nav-item">
                    <a th:href="@{/companies}"
                       class="nav-link"
                       th:classappend="${currentPage == 'companies'} ? ' active' : ''">
                        Companies
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/freelancers}"
                    class="nav-link"
                    th:classappend="${currentPage != null and currentPage == 'freelancers'} ? ' active' : ''">
                        Freelancers
                    </a>
                </li>
                
            </ul>

			<div class="nav-buttons">

			    <!-- NOT LOGGED IN -->
			    <div sec:authorize="!isAuthenticated()">

			        <a th:href="@{/login}" class="login-btn">
			            Login
			        </a>

			        <a th:href="@{/register}" class="signup-btn">
			            Get Started
			        </a>

			    </div>



			    <div sec:authorize="hasRole('FREELANCER')">

			        <a th:href="@{/freelancer/dashboard}" class="login-btn">
			            Dashboard
			        </a>

			        <a th:href="@{/login}" class="signup-btn">
			            Logout
			        </a>

			    </div>


			    <div sec:authorize="hasRole('EMPLOYER')">

			        <a th:href="@{/employer/dashboard}" class="login-btn">
			            Dashboard
			        </a>

			        <a th:href="@{/login}" class="signup-btn">
			            Logout
			        </a>

			    </div>

			</div>

        </div>

    </div>

</nav>