<!-- Side Bar -->
<div class="sidebar" th:fragment="sidebar">
    <div class="sidebar-brand">
        <ul class="navbar nav justify-content-center">
        <li class="nav-item dropdown px-2 d-lg-none ff">
            <!-- Add "dropdown-toggle" class and role="button" -->
            <a href="#" class="nav-link" data-bs-toggle="dropdown" role="button" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
            </a>
            <!-- Wrap dropdown items in <li> tags -->
            <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/home" class="dropdown-item"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/login"><i class="fa-solid fa-right-from-bracket"></i>Logout </a></li>
            </ul>
        </li>
        <li class="nav-item ss">
            <h4 class="mb-0">
            <i class="fa-solid fa-briefcase"></i> Job Hunter
            </h4>
        </li>
        </ul>
    </div>
    <nav class="sidebar-nav flex-column">
        <a href="/home"><i class="fas fa-home"></i>Home</a>
        <a href="/login"><i class="fa-solid fa-right-from-bracket"></i>Logout </a>
    </nav>
</div>