<div class="sidebar-wrapper" th:fragment="sidebar">

    <div class="sidebar">

        <div class="sidebar-brand">

            <div class="mobile-header d-lg-none">

                <a href="#" class="mobile-profile">

                    <img th:if="${user.profilePhoto != null}"
                         th:src="@{'/uploads/' + ${user.profilePhoto}}"
                         alt="Profile Photo"
                         class="profile-photo">

                    <img th:unless="${user.profilePhoto != null}"
                         th:src="@{/images/default_profile.jpg}"
                         alt="Default Profile Photo"
                         class="profile-photo">

                    <div class="profile-info">

                        <span class="username"
                              th:text="${user.name}">
                            Username
                        </span>

                        <span class="user-role">
                            Guest
                        </span>

                    </div>

                </a>

                <div class="mobile-menu dropdown">

                    <button type="button"
                            class="btn menu-button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">

                        <i class="fa-solid fa-bars"></i>

                    </button>

                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>
                            <a href="/viewHomeJob" class="dropdown-item">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                        </li>

                        <li>
                            <button type="button"
                                    class="dropdown-item mobile-logout"
                                    data-bs-toggle="modal"
                                    data-bs-target="#logoutModal">

                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout

                            </button>
                        </li>

                    </ul>

                </div>

            </div>

            <div class="desktop-brand d-none d-lg-block">

                <h4 class="mb-0">
                    <i class="fa-solid fa-briefcase"></i>
                    Job Hunter
                </h4>

            </div>

        </div>

        <nav class="sidebar-nav d-none d-lg-flex flex-column">

            <a href="/viewHomeJob">
                <i class="fas fa-home"></i>
                Home
            </a>

            <button type="button"
                    class="logout-button"
                    data-bs-toggle="modal"
                    data-bs-target="#logoutModal">

                <i class="fa-solid fa-right-from-bracket"></i>
                Logout

            </button>

        </nav>

        <a class="sidebar-profile d-none d-lg-flex">

            <img th:if="${user.profilePhoto != null}"
                 th:src="@{'/uploads/' + ${user.profilePhoto}}"
                 alt="Profile Photo"
                 class="profile-photo">

            <img th:unless="${user.profilePhoto != null}"
                 th:src="@{/images/default_profile.jpg}"
                 alt="Default Profile Photo"
                 class="profile-photo">

            <div class="profile-info">

                <span class="username"
                      th:text="${user.name}">
                    Username
                </span>

                <span class="user-role">
                    Guest
                </span>

            </div>

        </a>

    </div>

    <div class="modal fade"
         id="logoutModal"
         tabindex="-1"
         aria-labelledby="logoutModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content sidebar-logout-modal">

                <div class="modal-header">

                    <div class="sidebar-logout-icon">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </div>

                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>

                </div>

                <div class="modal-body text-center">

                    <h5 id="logoutModalLabel">
                        Confirm Logout
                    </h5>

                    <p>
                        Are you sure you want to logout?
                    </p>

                </div>

                <div class="modal-footer">

                    <button type="button"
                            class="sidebar-cancel-logout"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>

                    <form th:action="@{/logout}" method="post">

                        <button type="submit"
                                class="sidebar-confirm-logout">

                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

