<div class="sidebar" th:fragment="sidebar">

    <div class="sidebar-brand">

        <div class="mobile-header d-lg-none">

            <a href="/myprofile" class="mobile-profile">
                <img th:if="${user.profilePhoto != null}" 
                    th:src="@{'/uploads/' + ${user.profilePhoto}}" 
                    alt="Profile Photo"
                    class="profile-photo">
                <img th:unless="${user.profilePhoto != null}"
                    th:src="@{/images/default_profile.jpg}"
                    alt="Default Profile Photo"
                    class="profile-photo">

                <div class="profile-info">
                    <span class="username" th:text="${user.name}">
                        Username
                    </span>
                    <span class="user-role">
                        Guest
                    </span>
                </div>
            </a>

            <div class="mobile-menu dropdown">
                <button href="#"
                    class="btn menu-button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">

                    <i class="fa-solid fa-bars"></i>
            </button>

                <ul class="dropdown-menu dropdown-menu-end">

                    <li>
                        <a href="/viewHomeJob" class="dropdown-item">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>

                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item mobile-logout">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                            </button>
                        </form>
                    </li>

                </ul>
            </div>

        </div>

        <div class="desktop-brand d-none d-lg-block">

            <h4 class="mb-0">
                <i class="fa-solid fa-briefcase"></i>
                Job Hunter
            </h4>

        </div>

    </div>

    <nav class="sidebar-nav d-none d-lg-flex flex-column">

        <a href="/viewHomeJob">
            <i class="fas fa-home"></i>
            Home
        </a>

        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="logout-button">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </button>
        </form>

    </nav>

    <a class="sidebar-profile d-none d-lg-flex">

        <img th:if="${user.profilePhoto != null}" th:src="@{'/uploads/' + ${user.profilePhoto}}"
                alt="Profile Photo"
                class="profile-photo">
        <img th:unless="${user.profilePhoto != null}"
            th:src="@{/images/default_profile.jpg}"
            alt="Default Profile Photo"
            class="profile-photo">

        <div class="profile-info">

            <span class="username"
                    th:text="${user.name}">
                Username
            </span>

            <span class="user-role">
                Guest
            </span>

        </div>

    </a>

</div>
