<!-- Side Bar -->
<div class="sidebar" th:fragment="sidebar">

    <div class="sidebar-brand">

        <div class="mobile-header d-lg-none">

            <a href="/myprofile" class="mobile-profile">
                <img th:if="${user.profilePhoto != null}" th:src="@{'/uploads/' + ${user.profilePhoto}}"
                    alt="Profile Photo"
                    class="profile-photo">

                <div class="profile-info">
                    <span class="username" 
                          th:text="${user.name}">
                    </span>
                    <span class="user-role" 
                          th:text="${user.role}">
                    </span>
                </div>
            </a>

            <div class="mobile-menu dropdown">
                <button href="#"
                    class="btn menu-button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">

                    <i class="fa-solid fa-bars"></i>
            </button>

                <ul class="dropdown-menu dropdown-menu-end">

                    <li>
                        <a href="/home" class="dropdown-item">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="/hire/myhires" class="dropdown-item">
                            <i class="fas fa-briefcase"></i>
                            Hire Requests
                        </a>
                    </li>

                    <li>
                        <a href="/myapplications" class="dropdown-item">
                            <i class="fas fa-briefcase"></i>
                            Applied Jobs
                        </a>
                    </li>

                    <li>
                        <a href="/login" class="dropdown-item">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </a>
                    </li>

                </ul>
            </div>

        </div>

        <div class="desktop-brand d-none d-lg-block">

            <h4 class="mb-0">
                <i class="fa-solid fa-briefcase"></i>
                Job Hunter
            </h4>

        </div>

    </div>

    <nav class="sidebar-nav d-none d-lg-flex flex-column">

        <a href="/home">
            <i class="fas fa-home"></i>
            Home
        </a>

        <a href="/hire/myhires">
            <i class="fas fa-briefcase"></i>
            Hire Requests
        </a>

        <a href="/myapplications">
            <i class="fas fa-briefcase"></i>
            Applied Jobs
        </a>

        <a href="/login">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </a>

    </nav>

	<a th:href="@{/freelancer-profile}"
	   class="sidebar-profile d-none d-lg-flex">

	    <img th:if="${user.profilePhoto != null}"
	         th:src="@{'/uploads/' + ${user.profilePhoto}}"
	         alt="Profile Photo"
	         class="profile-photo">

	   

	    <div class="profile-info">

	        <span class="username"
	              th:text="${user.name}">
	            Username
	        </span>

	        <span class="user-role">
	            Freelancer
	        </span>

	    </div>

	</a>

</div>
