<!-- Side Bar -->
<div class="sidebar" th:fragment="sidebar">

    <div class="sidebar-brand">

        <div class="mobile-header d-lg-none">

            <a href="/myprofile" class="mobile-profile">
                <img th:src="@{/images/default_profile.jpg}" 
                        alt="Profile Photo"
                        class="profile-photo">

                <div class="profile-info">
                    <span class="username" th:text="${employer.user.name}">
                        Username
                    </span>
                    <span class="user-role">
                        Employer
                    </span>
                </div>
            </a>

            <div class="mobile-menu dropdown">
                <button href="#"
                    class="btn menu-button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">

                    <i class="fa-solid fa-bars"></i>
            </button>

                <ul class="dropdown-menu dropdown-menu-end">

                    <li>
                        <a href="/home" class="dropdown-item">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="/employer/dashboard" class="dropdown-item">
                            <i class="fas fa-briefcase"></i>
                            Dashboard
                        </a>
                    </li>

                    <li>
                        <a href="/my-jobs" class="dropdown-item">
                            <i class="fas fa-briefcase"></i>
                            My Job Posts
                        </a>
                    </li>

                    <li>
                        <a href="/login" class="dropdown-item">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </a>
                    </li>

                </ul>
            </div>

        </div>

        <div class="desktop-brand d-none d-lg-block">

            <h4 class="mb-0">
                <i class="fa-solid fa-briefcase"></i>
                Job Hunter
            </h4>

        </div>

    </div>

    <nav class="sidebar-nav d-none d-lg-flex flex-column">

        <a href="/home">
            <i class="fas fa-home"></i>
            Home
        </a>

        <a href="/employer/dashboard">
            <i class="fas fa-briefcase"></i>
            Dashboard
        </a>

        <a href="/my-jobs">
            <i class="fas fa-briefcase"></i>
            My Jobs Posts
        </a>

        <a href="/login">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </a>

    </nav>

    <a th:href="@{/employer/profile}" class="sidebar-profile d-none d-lg-flex">

		<img th:if="${employer.user.profilePhoto != null}"
		     th:src="@{'/uploads/' + ${employer.user.profilePhoto}}"
		     alt="Profile Photo"
		     class="profile-photo">

        <div class="profile-info">

            <span class="username"
                    th:text="${employer.user.name}">
                Username
            </span>

            <span class="user-role">
                Employer
            </span>

        </div>

    </a>

</div>
