<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>User List</title>

<style>

table{

    width:80%;
    margin:auto;
    border-collapse:collapse;

}

th,td{

    border:1px solid black;
    padding:10px;
    text-align:center;

}

th{

    background:#007bff;
    color:white;

}

img{

    width:80px;
    height:80px;
    object-fit:cover;

}

</style>

</head>


<body>


<h2 style="text-align:center;">
Registered Users
</h2>


<table>


<tr>

<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Password</th>
<th>Profile Photo</th>
<th>Role</th>

</tr>


<tr th:each="user : ${users}">


<td th:text="${user.id}"></td>

<td th:text="${user.name}"></td>

<td th:text="${user.email}"></td>

<td th:text="${user.password}"></td>


<td>


    <img 
    th:if="${user.profilePhoto != null}"
    th:src="@{'/uploads/' + ${user.profilePhoto}}">


    <span 
    th:if="${user.profilePhoto == null}">
        No Image
    </span>


</td>


<td th:text="${user.role}"></td>


</tr>


</table>


</body>

</html>