<div class="job-card" th:each="job : ${latestJobs}">

    <h2 th:text="${job.title}"></h2>

    <p>
        <strong>Category:</strong>
        <span th:text="${job.category.name}"></span>
    </p>

    <p>
        <strong>Employment Type:</strong>
        <span th:text="${job.employmentType}"></span>
    </p>

    <p>
        <strong>Experience:</strong>
        <span th:text="${job.experienceLevel}"></span>
    </p>

    <p>
        <strong>Salary:</strong>
        <span th:text="${job.salaryMin}"></span>
        -
        <span th:text="${job.salaryMax}"></span>
    </p>

    <p>
        <strong>Status:</strong>
        <span th:text="${job.status}"></span>
    </p>

    <a th:href="@{/job-details/{id}(id=${job.id})}">
        View Details
    </a>
	
	

</div>


<h1>Freelancers</h1>

<div class="freelancer-card"
     th:each="freelancer : ${freelancers}">

    <h2 th:text="${freelancer.title}"></h2>

    <p>
        <strong>Education:</strong>
        <span th:text="${freelancer.education}"></span>
    </p>

    <p>
        <strong>Experience:</strong>
        <span th:text="${freelancer.experience}"></span>
    </p>

    <p>
        <strong>Location:</strong>
        <span th:text="${freelancer.location}"></span>
    </p>

   
	
	<a th:href="@{/freelancer-details/{id}(id=${freelancer.id})}">
	    View Details
	</a>

</div>


<section class="companies-section">

    <div class="section-header">

        <h2>Featured Companies</h2>

        <a th:href="@{/companies}"
           class="view-all-btn">

            View All

        </a>

    </div>




    <div th:if="${latestEmployers == null || latestEmployers.isEmpty()}"
         class="empty-state">

        <p>No companies available.</p>

    </div>


  
    <div class="companies-grid">

        <div th:each="employer : ${latestEmployers}"
             class="company-card">


          
            <a th:href="@{/company/{id}(id=${employer.id})}"
               class="company-link">


             

                <img th:if="${employer.user.profilePhoto != null}"
                     th:src="@{'/uploads/' + ${employer.user.profilePhoto}}"
                     alt="Company Photo"
                     class="company-photo">


               

               
                <h3 th:text="${employer.companyName}">
                    Company Name
                </h3>

                <p th:text="${employer.companyLocation}">
                    Yangon
                </p>

            </a>

        </div>

    </div>

</section>
